{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<div class="jumbotron">
  <h1 class="display-4">Oi, tudo bem?</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>

<div class="row">
  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Valor Mensal</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 200,000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">QTD DE Consultas | MENSAL</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 10000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">QTD DE EXAMES | MENSAL</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ 50000</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-3">
  <div class="card">
    <img src="{% static 'images/imagem.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Agendamento</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go </a>
    </div>
  </div>
</div>
<div class="col-lg-3">
  <div class="card">
    <img src="{% static 'images/imagem.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Consultas</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go </a>
    </div>
  </div>
</div>
</div>
{% endblock %}